<!doctype html>
<html lang="es-ar">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Augusto Roccasalva">
    <title>{% block title %}Río Plomo{% endblock %}</title>
    <link rel="stylesheet" href="{{ static('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static('css/main.css') }}">
    {#- page-specifig css style #}
    {%- block css %}{% endblock %}
  </head>

  <body>

    {% block content %}<h1>Base template</h1>{% endblock %}

    <script src="{{ static('js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ static('js/bootstrap.min.js') }}"></script>
    {#- page-specific JavaScript block  #}
    {%- block js %}{% endblock %}
  </body>
</html>
{# vim:sw=2:ft=jinja
#}
