{% extends "base.html" %}

{% block content %}
<form method="post" action="/step2" autocomplete="off">

  {{ form.hidden_tag() }}

  {{ form.firstname.label }}
  {{ form.firstname(size=20, required=True, autofocus=True) }}

  {{ form.lastname.label }}
  {{ form.lastname(size=20, required=True) }}

  {{ form.email.label }}
  {{ form.email() }}

  {{ form.twitter.label }}
  {{ form.twitter() }}

  <input type="submit" name="submit" value="Siguente" id="submit">
</form>
{% endblock %}

{# vim: ft=jinja:sw=2
#}
