{% extends "base.html" %}

{% block content %}
<form class="form-horizontal" method="post" action="/step2" autocomplete="off">

  {{ form.hidden_tag() }}

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="form-group form-group-lg">
        {{ form.firstname.label(class_='col-sm-2 control-label') }}
        <div class="col-sm-10">
          {{ form.firstname(size=20, required=True, autofocus=True, class_='form-control', placeholder='Nombre') }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="form-group form-group-lg">
        {{ form.lastname.label(class_='col-sm-2 control-label') }}
        <div class="col-sm-10">
          {{ form.lastname(size=20, required=True, class_='form-control', placeholder='Apellido') }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="form-group form-group-lg">
        {{ form.phone.label(class_='col-sm-2 control-label') }}
        <div class="col-sm-10">
          {{ form.phone(class_='form-control', placeholder='Teléfono') }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="form-group form-group-lg">
        {{ form.email.label(class_='col-sm-2 control-label') }}
        <div class="col-sm-10">
          {{ form.email(class_='form-control', placeholder='Email') }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="form-group form-group-lg">
        {{ form.birthday.label(class_='col-sm-2 control-label') }}
        <div class="col-sm-10">
          {{ form.birthday(class_='form-control', placeholder='Cupleaños') }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="form-group form-group-lg">
        {{ form.twitter.label(class_='col-sm-2 control-label') }}
        <div class="col-sm-10">
          {{ form.twitter(class_='form-control', placeholder='Twitter') }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <button class="btn btn-default btn-lg center-block" type="submit">Siguiente</button>
  </div>

  <div class="row">
    <div class="text-center">
      <a href="/" id="back" class="btn btn-default btn-lg">Volver a comenzar</a>
    </div>
  </div>
</form>
{% endblock %}

{# vim: ft=jinja:sw=2
#}
