{% extends "base.html" %}

{% block content %}
<form method="post" action="/step1" autocomplete="off">

  {{ form.hidden_tag() }}

  <div class="row dni">
    <div class="form-group col-sm-6 col-sm-offset-3">
      {{ form.dni.label }}
      {{ form.dni(size=10, class_='form-control', autofocus=True) }}
    </div>
  </div>

  <div class="row">
    <button class="btn btn-default btn-lg center-block" type="submit">Siguiente</button>
  </div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $("#dni").keydown(function (e) {
      // Allow: backspace, delete, tab, escape, enter and .
      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13/*, 110*/, 190]) !== -1 ||
          // Allow: Ctrl+A
          (e.keyCode == 65 && e.ctrlKey === true) ||
            // Allow: Ctrl+C
            (e.keyCode == 67 && e.ctrlKey === true) ||
              // Allow: Ctrl+X
              (e.keyCode == 88 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
        // let it happen, don't do anything
        return;
      }
      // Ensure that it is a number and stop the keypress
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        e.preventDefault();
      }
    });
  });
</script>
{% endblock %}

{# vim: ft=jinja:sw=2
#}
