
#documento label {
  font-weight: bold;
  font-size: 26px;
}

input[name="dni"] {
  font-family: monospace;
  font-size: 5rem;
  line-height: 5rem;
  font-weight: bold;
  height: 6rem;
  text-align: center;
}
