body {
  background-color: #D9EDF7;
}

.container {
  min-height: 100%;
  min-height: 100vh;
}

.dni label {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}

input[name="dni"] {
  font-family: monospace;
  font-size: 5rem;
  line-height: 5rem;
  font-weight: bold;
  height: 6rem;
  text-align: center;
}

.logo-container {
  margin: 40px auto;
}

#verify-data {
  font-size: 30px;
}

#back {
  margin-top: 15px;
}

#esp {
  font-size: 20px;
}
